@page "/detail/{towerId}"

@using BtdStats.Data.Models
@using BtdStats.Data.Services
@using BtdStats.Utility
@inject IStatsniteClient Client;

<a class="btn btn-outline-dark" href="/">
    <span class="oi oi-arrow-left"></span> Back
</a>

@if (monkeyTower == null)
{
    <p>Loading....</p>
}
else
{
    
    <div class="row justify-content-center" style="font-family: 'Luckiest Guy';">
        
        <div class="col-7" style="width: 300px;">
            <div style="height: 305px; ">
                <div class="position-relative">
                    <img class="position-absolute" src="https://statsnite.com/images/btd/towers/@TowerId/tower.png" style="width: 300px; z-index: 1" alt="dart monkey"/>
                    <div class="position-absolute" style="background-color: @backgroundColour; width: 125px; height: 305px; top: 0; left: 75px;"></div>
                </div>    
            </div>
            
            <p class="text-wrap text-center mt-2">@monkeyTower.Description</p>
        </div>
        
        <div class="col-7 text-center align-items-center">
            <h5 class="display-2 mb-0">@monkeyTower.Name</h5>

            <div class="cost-frame">
                <img class="money-img" src="img/Money_icon.webp" alt="money icon"/>
                <div style="width: 53px; height: 45px; color: #343A40; font-size: 32px; font-family: Luckiest Guy; font-weight: 400;">@cost</div>
            </div>

            <div class="d-flex justify-content-center align-items-center gap-5" >
                
                <div style="justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                  <img style="width: 50px;" src="img/pierce.png" />
                  <div style="color: black; font-size: 32px; font-family: Luckiest Guy; font-weight: 400; word-wrap: break-word">@monkeyTower.Stats.Pierce</div>
                </div>

                <div style="justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <img style="width: 50px;" src="img/damage.png" />
                    <div style="color: black; font-size: 32px; font-family: Luckiest Guy; font-weight: 400; word-wrap: break-word">@monkeyTower.Stats.Damage</div>
                </div>
                
                <div style="justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <img style="width: 50px;" src="img/range.png" />
                    <div style="color: black; font-size: 32px; font-family: Luckiest Guy; font-weight: 400; word-wrap: break-word">@monkeyTower.Stats.Range</div>
                </div>
                
                <div style="justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <img style="width: 50px;" src="img/attack_speed.png" />
                    <div style="color: black; font-size: 32px; font-family: Luckiest Guy; font-weight: 400; word-wrap: break-word">@monkeyTower.Stats.AttackSpeed</div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="flex flex-column">
                    <p>@top</p>
                    <p>@middle</p>
                    <p>@bottom</p>
                </div>
                <div>
                    <div class="path-button"></div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <img style="width: 200px;;" src="https://statsnite.com/images/btd/towers/dart-monkey/004.png?w=150"/>
        </div>
    </div>
}




@code {

    int cost;
    
    [Parameter]
    public string TowerId { get; set; }

    Tower? monkeyTower;

    string backgroundColour;

    int top;
    int middle;
    int bottom;
    
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        monkeyTower = await Client.GetTower(TowerId);
        backgroundColour = MonkeyColour.GetMonkeyColourByType(monkeyTower.Type);
        UpdateValues();
    }
    
    int _difficultySelected;
    [CascadingParameter]
    public int DifficultySelected {
        get => _difficultySelected;
        set {  
            var lastValue = _difficultySelected;        // HERE //
            _difficultySelected = value; 
            if (lastValue != value) UpdateValues(); 
        }
    }
    
    
    void UpdateValues()
    {
        cost = DifficultySelected switch {
            0 => monkeyTower.Cost.Easy,
            1 => monkeyTower.Cost.Medium,
            2 => monkeyTower.Cost.Hard,
            3 => monkeyTower.Cost.Impoppable,
        };
    }
    
    
    
}